<%= render 'layouts/navbar' %>

<div id="wrapper">
<div id="main">

<div class="headerspace"></div>

<%= render 'layouts/errors' %>

<%= render 'layouts/headerpicture' %>

<%= render 'layouts/summary' %>

<%= render 'layouts/piechart' %>

<%= render 'layouts/linechart' %>

<%= render 'layouts/newuser' %>

<%= render 'layouts/datasources' %>

<div class="headerspace"></div>
<div class="headerspace"></div>

</div> <!-- end main div -->

<%= render 'layouts/footer' %>

</div> <!-- end wrapper div -->


  

      
      

