<table border="1">
<tr>
<th>Date/Time</th>
<th>DIA Last Trade</th>
<th>SPY Last Trade</th>
<th>Twitter Sentiment Score</th>
<th>Media Sentiment Score</th>
<th>Investor Sentiment Score</th>
</tr>

<% @financial_history_data.each do |entry| %>
<tr>
<td><%= entry.date.to_s %></td>
<td><%= entry.dia_last.to_s %></td>
<td><%= entry.spy_last.to_s %></td>
<td><%= entry.twitter_score.to_s %></td>
<td><%= entry.media_score.to_s %></td>
<td><%= entry.investor_score.to_s %></td>
</tr>
<% end %>

</table>
