



 <%= high_chart("main_chart", @chart)  %>

<br/>
<br/>


<table border="1">
<tr>
<th>Date/Time</th>
<th>DIA Last Trade</th>
<th>SPY Last Trade</th>
<th>Twitter Sentiment Score</th>
<th>Media Sentiment Score</th>
<th>Investor Sentiment Score</th>
<th>Positive Entries</th>
<th>Neutral Entries</th>
<th>Negative Entries</th>

</tr>

<% @financial_history_data.each do |entry| %>
<tr>
<td><%= entry.date.to_s %></td>
<td><%= entry.dia_last.to_s %></td>
<td><%= entry.spy_last.to_s %></td>
<td><%= entry.twitter_score.to_s %></td>
<td><%= entry.media_score.to_s %></td>
<td><%= entry.investor_score.to_s %></td>
<td><%= entry.positive_entries.to_s %></td>
<td><%= entry.neutral_entries.to_s %></td>
<td><%= entry.negative_entries.to_s %></td>

</tr>
<% end %>

</table>
<br/><br/>

<% if !current_user %>
<h2>Sign up</h2>
	<div id="signup_homepage">
	<%= form_for @user do |f| %>
	  <% if @user.errors.any? %>
	    <div class='error_messages'>
	      <h2>Form is invalid</h2>
	      <ul>
	        <% @user.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	        <% end %>
	      <ul>
	    </div>
	  <% end %>


	  <%= f.label :phone_number %>
	  <%= f.text_field :phone_number %>
	  <%= f.label :password %>
	  <%= f.password_field :password %>
	  <%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %>
	  <%= f.submit "Sign Up" %>
	<% end %> 
	</div>
<% end %>

