<%= render 'layouts/navbar' %>

<div id="wrapper">
<div id="main">

<div class="headerspace"></div>

<!-- errors -->
<% flash.each do |name, msg| %>
	<%= 
	content_tag :div, msg, :id => "flash#{name}" 
	%>
<% end %>

<div class="section">
<div id="picture">
</div>
</div>


<!-- summary section -->
<div class="section">
<div class="headerspace"></div>
<div class="headerspace"></div>

	<h3>24-HOUR CHANGE</h3>
	<div class="line-separator"></div>
	<table width="95%" align="center"><tr>
	<tr>
	<td width="33%"><h6>INVESTOR</h6></td>
	<td width="33%"><h6>MEDIA</h6></td>
	<td width="33%"><h6>DOW JONES</h6></td>
	</tr>
	<tr>
	<td width="33%">
	<h5><%= @day_change[:investor] %>%</h5>
	</td>
	<td width="33%">
	<h5><%= @day_change[:media] %>%</h5>
	</td>
	<td width="33%">
	<h5><%= @day_change[:dia] %>%</h5>
	</td>
	</tr></table>
</div>


<!-- pie chart section -->
<div class="section">
<div class="headerspace"></div>
<div class="headerspace"></div>
<h3>TODAY'S SENTIMENT BREAKDOWN</h3>
	<div class="line-separator"></div>
 <%= high_chart("pie_chart", @chart2)  %>
 </div>
<br/>



<!-- line chart section -->
<div class="section">
<div class="headerspace"></div>
<div class="headerspace"></div>
<h3>HISTORICAL DATA</h3>
	<div class="line-separator"></div>
 <%= high_chart("line_chart", @chart)  %>
 </div>
<br/>


<!-- new user signup form -->

<% if !current_user %>
	<div class="signup">
	<div class="section">
	<div class="headerspace"></div>
	<div class="headerspace"></div>
	<h3>Subscribe for daily text message updates</h3>
	<div class="line-separator"></div>

	<%= form_for @user do |f| %>
	  <% if @user.errors.any? %>
	    <div class='error_messages'>
	      <h2>Form is invalid</h2>
	      <ul>
	        <% @user.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	  <% end %>

	  <%= f.text_field :phone_number, placeholder: '617-544-3963' %>
	  <%= f.password_field :password, placeholder: 'password' %>
	  <%= f.submit "subscribe" %>
	  </div>
	</div>
	<% end %> 
<% end %>

<div class="headerspace"></div>
<div class="section">
<div class="headerspace"></div>
<h3>data sources</h3>
<div class="line-separator"></div>

<div class="datasources">
<ul>
	<li><img src="http://s3-us-west-2.amazonaws.com/sentimyzer/forbes_logo.jpg" height="35" /></li>
	<li><img src="http://s3-us-west-2.amazonaws.com/sentimyzer/nyt_logo.jpg" height="35" /></li>
	<li><img src="http://s3-us-west-2.amazonaws.com/sentimyzer/sa_logo.jpg" height="35" /></li>
	<br/>
	
	<li><img src="http://s3-us-west-2.amazonaws.com/sentimyzer/cnbc_logo.jpg" height="30" /></li>
	<li><img src="http://s3-us-west-2.amazonaws.com/sentimyzer/ycharts_logo.jpg" height="35" /></li>
	<li><img src="http://s3-us-west-2.amazonaws.com/sentimyzer/twitter_logo.jpg" height="35" /></li>
</ul>
</div>
</div>


<div class="headerspace"></div>
<div class="headerspace"></div>


</div> <!-- end main div -->

<% if !current_user %>
<div class="section">
<br/><br/>
<h3>Forgot Password</h3>
  <%= form_tag send_password_path do %> 
    <p>
    	<%= label_tag :phone_number %>
    	<%= text_field_tag :phone_number %>
    	<%= submit_tag "Send text message with new password" %> </p>
  <% end %> 

<% else %>
<div class="headerspace"></div>
<div class="headerspace"></div>
<% end %>
</div>


</div> <!-- end wrapper div -->

