<!DOCTYPE html>
<html>
<head>
  <title>Sentimyzer | Financial Sentiment Tracking</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,500' rel='stylesheet' type='text/css'>
  

  <script type="text/javascript">
    $(document).ready(function(){
    
    // initiate page scroller plugin
    $('#wrapper').pageScroller({
      navigation: '.pageScrollerNav'
    });
          
  });
    </script>
</head>
<body>
<%= render 'layouts/navbar' %>
<div class="headerspace"></div>

<% flash.each do |name, msg| %>
	<%= 
	content_tag :div, msg, :id => "flash#{name}" 
	%>
<% end %>

<br/>
<%= yield %>

</body>
</html>
